<div id="header" class="container">
    <div class="header-content">
      <img routerLink="/dashboard" src="../../assets/icons/cart.svg" alt="Logo is loading..."
        class="logo">
      <h6 routerLink="/book" style="margin-top: 20px;color: white;" class="header">Welcome to Bookstore</h6>
      <!-- <input type="text" placeholder="search products...">
      <p class="cart-name">cart</p>
      <img src="../../assets/icons/cart.svg" alt="cart image is loading..."
        class="cart-image">
      <p class="cart-items">10</p> -->
    </div>
    <router-outlet></router-outlet>