<div class="container">
    <div class="card mb-3">
      <h5 class="order-title">Order Summary</h5>
        <div class="row g-0" >
          <div class="col-md-4" >
            <img src="../../assets/images/book2.jpg" class="img-fluid rounded-start" alt="Loading...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Ramayana</h5>
              <p class="card-text">by valmiki</p>
              <p class="card-text">RS.1500</p>
            </div>
            
                </div> 
        <button routerLink="/order" type="button" class="checkout" >Checkout</button> 
      </div>
    </div>
