<div class="container">
    <div class="order-image">
      <img src="../../assets/icons/order-placed.png" alt="Loading...">
      <h4 class="order-heading">Order Placed Successfully</h4>
    </div>
    <div class="message" >
      <h6>hurray!!!your order is confirmed</h6>
      <h6>the order id  is</h6><h6 > #1</h6><h6>save the order id for</h6>
      <h6>further communication.</h6>
    </div>
    <div class="table-details">
      <table>
        <thead>
          <th>Email Us</th>
          <th>Contact Us</th>
          <th>Address</th>
        </thead>
        <tr>
          <td>venkateshkypa@gmail.com</td>
          <td>+91 9912470481</td>
          <td>Coming!</td>
        </tr>
      </table>
    </div>
    <div>
      <!-- <button type="button" (click)="goToDashboard()" >Continue Shopping</button> -->
    </div>
    <button routerLink="/dashboard" type="button"  >Continue Shopping</button>
  </div>
  